button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border: 1px solid #333;
    background-color: #f1f1f1;
    cursor: pointer;
}

button.tiklanabilir:hover {
    background-color: #ddd;
}

button.tiklanamaz {
    cursor: not-allowed;
    opacity: 0.5;
}
